<html>

<head>
    <meta charset="UTF=8">
	<title>Edit Customer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
	<div class="topNav">
	  <a class="active" href="index">Home</a>
	  <a href="inventory">Inventory</a>
	  <a href="customers">Customers</a>
	  <a href="orders">Orders</a>
	</div>
	<p></p>
    <div>
        <table border="1" cellpadding="5">
            <h2> The User's Current Information: </h2>
            <!-- Access data tuple passed from app.py -->
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>

                        <!-- End of this for loop -->
                        {% endfor %}
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}

                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %}
                    </tr>
                    {% endfor %}
            {% endif %}
        </table>
        <p></p>
        <div id="edit">
            <!-- form to edit data in Customers-->
            <form id="editCustomer" action="/edit_customer/{{data[0].customer_id}}" method="post">
                <legend><strong>Edit Customer</strong></legend>
                <p></p>
                <fieldset>
                    <!-- We can preset form inputs to match attributes currently stored for 'id' of person to be updated via value= and accessing our passed data tuple -->
                    <!-- Create hidden form input to store the passed 'id' of the person we are editing so we can access it easily in our 'POST' method in our app.py -->
                    <input type="hidden" value="{{data[0].customer_id}}" class="form-control" id="customer_id" name="customer_id" required>
                    <label for="make">First name: </label>
                    <input type="text" value="{{data[0].first_name}}" class="form-control" id="first_name" name="first_name" pattern="[A-Za-z]{1,}" required>
                    <label for="model">Last name: </label>
                    <input type="text" value="{{data[0].last_name}}" class="form-control" id="last_name" name="last_name" pattern="[A-Za-z0-9]{1,}" required>
                    <p></p>
                    <label for="year">Email: </label>
                    <input type="text" value="{{data[0].email}}" class="form-control" id="email" name="email">
                    <label for="color">Phone: </label>
                    <input type="text" value="{{data[0].phone}}" class="form-control" id="phone" name="phone">
                </fieldset>
                <input type="submit" value="Edit Customer" name="Edit_Customer" class="btn btn-primary" style="margin:.5rem;">
                <a href='/customers'><input class="btn" type="button" value="cancel"></a>
            </form>

</html>