<html>

<head>
    <meta charset="UTF=8">
	<title>Edit Item</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div>
        <table border="1" cellpadding="5">
            <h2> The Item's Current Information: </h2>
            <!-- Access data tuple passed from app.py -->
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>

                        <!-- End of this for loop -->
                        {% endfor %}
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}

                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %}
                    </tr>
                    {% endfor %}
            {% endif %}
        </table>
        <p></p>

        <div id="edit">
            <!-- form to edit data in Items-->
            <form id="editItem" action="/edit_item/{{data[0].item_id}}/{{data[0].location_id}}" method="post">
                <legend><strong>Edit Item</strong></legend>
                <p></p>
                <fieldset>
                    <!-- We can preset form inputs to match attributes currently stored for 'id' of person to be updated via value= and accessing our passed data tuple -->
                    <!-- Create hidden form input to store the passed 'id' of the person we are editing so we can access it easily in our 'POST' method in our app.py -->
                    <input type="hidden" value="{{data[0].item_id}}" class="form-control" id="item_id" name="item_id" required>
                    <label for="make">Sku: </label>
                    <input type="text" value="{{data[0].sku}}" class="form-control" id="sku" name="sku" >
                    <label for="model">Cost: </label>
                    <input type="text" value="{{data[0].cost}}" class="form-control" id="cost" name="cost" >
                    <p></p>
                    <label for="year">Quantity: </label>
                    <input type="text" value="{{data[0].quantity}}" class="form-control" id="quantity" name="quantity">
                    <label for="color">Location: </label>
                    <select class="form-control" id="location" name="location" pattern="[0-4]{1}" placeholder="" required>
                    <!-- these are hard coded, but you can add code to make this dynamic -->
                        {% for location in locations%}
                            {%if location['location_id'] == data[0].location_id%}
                                <option value={{location['location_id']}} selected>{{location['location_name']}}</option>
                            {%else%}
                                <option value={{location['location_id']}}>{{location['location_name']}}</option>
                            {%endif%}
                        {%endfor%}
                    </select>
                </fieldset>
                <input type="submit" value="Edit Item" name="Edit_Item" class="btn btn-primary" style="margin:.5rem;">
                <a href='/inventory'><input class="btn" type="button" value="Cancel"></a>
            </form>

</html>