<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF=8">
	<title>E-commerce System Homepage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
	<!-- Top navigation bar reference: https://www.w3schools.com/howto/howto_js_topnav.asp -->
	<div class="topNav">
	  <a class="active" href="index">Home</a>
	  <a href="inventory">Inventory</a>
	  <a href="customers">Customers</a>
	  <a href="orders">Orders</a>
	</div>

	<div>
		<p></p>
		<h1>Welcome to E-commerce System!</h1>
		<h3>Home</h3>
        <p>This is the homepage of our project.</p>
		<p>This is an e-commerce system similar to Amazon's retail database.</p>
        <p>Team: Group 21</p>
		<h3>Inventory</h3>
		<p>This page allows users to view all inventories.</p>
		<h3>Customers</h3>
		<p>This is to check all customer info.</p>
		<h3>Orders</h3>
		<p>This is to check all the orders.</p>
		<p></p>
	</div>

    [ <a href="index">Home</a> | <a href="inventory">Inventory</a> | <a href="customers">Customers</a> | <a href="orders">Orders</a> ]
</body>
</html>