<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF=8">
	<title>E-commerce System Homepage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="topNav">
        <a class="active" href="index">Home</a>
        <a href="inventory">Inventory</a>
        <a href="customers">Customers</a>
        <a href="orders">Orders</a>
    </div>
    <div id="browse" style="display: block">
    <p><strong>Browse Items</strong></p>
    <table border="1" cellpadding="5">
      <tr>
        <th><a href="#">New</a></th>
        <th></th>
        <th>ID</th>
        <th>sku</th>
        <th>Country</th>
        <th>cost</th>
      </tr>
      <tr>
        <td><a href="#">Edit</a></td>
          <td><a href='#'>Delete</a></td>
        <td align="right">{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td align="right">{{item[2]}}</td>
        <td>${{item[3]}}</td>
      </tr>
         {% endfor %}
    </table>
    <p>&nbsp;</p>
    </div> <!-- browse -->

    <div id="search" style="display: block">
        <legend><strong>Search Item</strong></legend>
        <fieldset class="fields">
          <label>Keyword: </label> <input type="text" name="keyword"><p></p>
        </fieldset>
        <input class="btn" type="submit" value="Search">
    </div>

    <div id="insert" style="display: block">
        <legend><strong>Add Item</strong></legend>
        <fieldset class="fields">
            <label> sku </label> <input type="text" name="sku"><p></p>
            <label> Country </label> <input type="text" name="country_code"><p></p>
            <label> cost </label> <input type="text" name="cost">
        </fieldset>
        <input class="btn" type="submit" value="Add an Item">
        <input class="btn" type="button" value="Cancel">
        <p>&nbsp;</p>
    </div><!-- insert -->
    
    <div id="update" style="display: block">
        <legend><strong>Update Item</strong></legend>
        <fieldset class="fields">
            <label> ID: </label> 
            <select name="ID" id="ids">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
            <label> sku </label> <input type="text" name="sku"><p></p>
            <label> Country </label> <input type="text"  name="country_code"><p></p>
            <label> cost </label> <input type="text" name="cost">
        </fieldset>
        <input class="btn" type="submit" value="Update Item">
        <input class="btn" type="button" value="Cancel" >
        <p>&nbsp;</p>
    </div><!-- update -->

    <div id="delete" style="display: block">
        <form id="deleteItem">
        <legend><strong>Delete Item</strong></legend>
        <p>Are you sure you wish to delete the following item?</p>
        <fieldset class="fields">
        <label>ID:</label> 
        <select name="ID" id="ids">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
        </fieldset>
        <input class="btn" type="submit" value="Delete Item">
        <input class="btn" type="button" value="Cancel" >
        </form> 
    </div><!-- delete -->

    <p>&nbsp;</p>
    [ <a href="index">Home</a> | <a href="inventory">Inventory</a> | <a href="customers">Customers</a> | <a href="orders">Orders</a> ]

</body>
</html>