<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF=8">
	<title>Customers</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<script language="JavaScript">
	function showform(dowhat) {
		/*
		 * four DIVS: browse, insert, update, delete
		 * this function sets one visible the others not
		 */
		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'update') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'delete') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'block';
		} else if(dowhat == 'all') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'block';
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		}
	}

	function newCustomer() {
		showform('insert');
	}

	function updateCustomer(pid) {
		showform('update');
	}

	function deleteCustomer(pid) {
		showform('delete');
	}

	function browseCustomer() {
		showform('browse');
	}

	function showAll() {
		showform('all');
	}
	</script>

</head>

<body onload="browseCustomer()">
	<div class="topNav">
	  <a class="active" href="index">Home</a>
	  <a href="inventory">Inventory</a>
	  <a href="customers">Customers</a>
	  <a href="orders">Orders</a>
      <a>SubTable:</a>
      <a href="countries">Countries</a>
	  <a href="customer_info">Customer Info</a>
	  <a href="locations">Locations</a>
	  <a href="items">Items</a>
      <a href="items_locations">Items Locations</a>
	  <a href="items_in_orders">Items In Orders</a>
	</div>
    {% block content %}{% endblock %}
    <p>&nbsp;</p>
    [ <a href="index">Home</a> | 
    <a href="inventory">Inventory</a> | 
    <a href="customers">Customers</a> | 
    <a href="orders">Orders</a> |  
    <a href="countries">Countries</a> |
    <a href="customer_info">Customer Info</a> |
    <a href="locations">Locations</a> |
    <a href="items">Items</a> |
    <a href="items_locations">Items Locations</a> |
    <a href="items_in_orders">Items In Orders</a>]

</body>
</html>